.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-size: contain;
    background: url("login_background.gif");
}

.login-controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button {
    width: 25%;
}

.logged {
    display: none;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.player-points {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.player-points-element {
    margin: 2px;
    display: flex;
}

.player-points-color {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.player-points-name {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    line-height: 24px;
    max-width: 100px;
    overflow: hidden;
}

.player-points-points {
    color: gray;
    line-height: 24px;
    display: inline-block;
}

.available-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

.remaining-time {
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 5px;
    transform: translate(-50%, 0);
}

#metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
